<body class="home">
<section class="hero-unit">
  <h1>Your place for keeping track of Duke recruiting events.</h1>
  <br>

  <div class='action-buttons'>
    <%= link_to "Sign up as Duke student", new_user_registration_path, class: 'center btn btn-success btn-large' %>
    <%= link_to "Check out upcoming events", events_path, class: 'center btn btn-primary btn-large' %>
    <%= link_to "Companies that recruit", companies_path, class: 'center btn btn-info btn-large' %>
  </div>
</section>
</body>
