<h1>Browse upcoming recruiting events at Duke</h1>
<p><%= link_to "Table view?", events_path(table: true) %></p>

<% if @events.empty? %>
  <p>There are not any events currently in the system.</p>
<% end %>
<br/>


<div>
	<% @events.each do |event| %>
		<div class="box">
			<%= link_to image_tag(Company.find(event.company_id).logo, size: "125"), event_path(event)%>
		</div>
	<% end %>
</div>

<p style="clear:both">Don't see your event here? <%= mail_to "mecampbell25@gmail.com", "Let us know!" %></p>