<div class="span2">
  <div class="well sidebar-nav">
  	<ul class="nav nav-list">
	  <li class="nav-header">Quick Links</li>
	  <li><%= link_to "Find Peers", friendships_path %></li>
	  <li><%= link_to "eRecruiting", "https://duke.experience.com/experience/login" %></li>
	  <li><%= link_to "Duke Career Center", "http://studentaffairs.duke.edu/career" %></li>
	</ul>
	
	</div><!--/.well -->
</div><!--/span-->