<div class="span2">
  <div class="well sidebar-nav">
  	<ul class="nav nav-list">
	  <li class="nav-header">Quick Links</li>
	  <li><%= link_to "Find Peers" %></li>
	  <li><%= link_to "eRecruiting" %></li>
	  <li><%= link_to "Upcoming Events", events_path %></li>
	</ul>
  </div><!--/.well -->
</div><!--/span-->